{% from 'bootstrap5/form.html' import render_form %}
{% extends '/layouts/base.html' %}
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
{% include '/components/page-banner.html' %}
<div class="page-content-wrapper">
    <div class="page-title-container p-3 text-white">
        <h1>add cafe</h1>
    </div>
    <div class="form-wrapper mt-5 mb-5">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p class="form-header">
          Please provide the following information to be submitted to our cafe list.
        </p>
        {{ render_form(form, novalidate=True, button_map={"Submit": "primary"}) }}
      </div>
    </div>
</div>
{% endblock %}
